<template>
  <q-page class="flex flex-center">
    <mapbox id="map" ref="map" access-token="pk.eyJ1Ijoiandkb2JrZW4iLCJhIjoiY2ppMDZvNDZxMDRueDNxcWJuamltZzRvdCJ9.bERPBWM1BXJmMwHI0Uv5-w" :map-options="mapOptions" :scale-control="{ show: true,  position: 'bottom-left'}" :fullscreen-control="{  show: true,  position: 'top-left'}" :nav-control="{ show: true, position: 'top-left' }" @map-init="mapInitialized" @map-styledata="loadLayers">
    </mapbox>
  </q-page>
</template>

<style>
</style>

<script>
import Mapbox from 'mapbox-gl-vue'

export default {
  components: { Mapbox },
  name: 'PageIndex',
  data () {
    return {
      mapOptions: {
        center: [4.3666706, 51.9991184],
        zoom: 12,
        attributionControl: false
      }
    }
  },
  methods: {
    loadLayers () {
    },
    mapInitialized (map) {
      this.map = map
      map.setStyle('mapbox://styles/mapbox/light-v9')
    }
  }
}
</script>

<style>
@import "~mapbox-gl/dist/mapbox-gl.css";
#map {
  height: 100vh;
  width: 100%;
}
</style>
